.msg-box {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  background-color: white;
}

.messageTitle {
  color: black;
  margin: 1rem;
}

.msg-list {
  display: block;
  color: black;
}

.msg-element {
  font-size: 1.5rem;
  margin-top: 0.5rem;
}
